<div class="carousel-image-wrapper">
  <h1>No flights available for the search!</h1>
  <div class="carousel-image-inline">
    <div class="img__wrap">
      <img class="carousel-image" src="https://maps.avios.com//explorer-map/images/large/amsterdam_large.jpg"/>
      <div class="img__description_layer">
        <p class="img__description">Some awesome hover text!</p>
      </div>
    </div>
    <div class="img__wrap">
      <img class="carousel-image" src="https://maps.avios.com//explorer-map/images/large/rome_large.jpg"/>
      <div class="img__description_layer">
        <p class="img__description">Some awesome hover text!</p>
      </div>
    </div>
    <div class="img__wrap">
      <img class="carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"/>
      <div class="img__description_layer">
        <p class="img__description">Some awesome hover text!</p>
      </div>
    </div>
    <div class="img__wrap">
      <img class="carousel-image" src="https://maps.avios.com//explorer-map/images/large/vienna_large.jpg"/>
      <div class="img__description_layer">
        <p class="img__description">Some awesome hover text!</p>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-md" [routerLink]="['/search']">Search again</button>
</div>